//
   Created by liangjingyue on 12/6/16.

extends  new_index

block main_content

   h2.cover-heading 联系我们
   br
   p.lead 如果你对我们的项目有任何的问题和评价,请联系我们.
   p.lead 欢迎提出改进工具的建议和方法.
   br
   br
   h3 导师
   p - Dr. Yao Guo, Associate professor, E-mail:
     a(href='mailto:yaoguo@pku.edu.cn') yaoguo@pku.edu.cn
   h3  学生
   p - Haoyu Wang, PhD student, E-mail:
     a(href='mailto:howiepku@pku.edu.cn') howiepku@pku.edu.cn
   p - Zi’ang Ma: MS student, E-mail:
     a(href='mailto:maziang@pku.edu.cn') maziang@pku.edu.cn
   p - Jingyue Liang, MS student, E-mail:
     a(href='mailto:liangjingyue@pku.edu.cn') liangjingyue@pku.edu.cn