//
  Created by liangjingyue on 11/10/16.

extends new_index

block main_content
  - var list_found = list;
  - var i=-1;
  - var levels = ['A','B','C','D','E'];
  h1.page-header
    | 典型应用
  .container(style='width: 100%;')
    .row-fluid
      - each item in list_found
        - i = i+1;
        .col-xs-3
          a(href='/application?app=' + item["package_name"])
            img.img-responsive.img-rounded(src = item['image'],href='/application?app='+item["package_name"],style='width:75%; height:75%;')
          a(href='/application?app=' + item["package_name"])
            h5 #{item["name"]}
          - var level = item["riskEva"]["SafeClass"];
          - var floatX = Math.round(item["riskEva"]["Score"] * 100) / 100;
          - var result = levels[level-1]+" ( "+floatX+" )";
          - var colorstring = "000";

          - if(level==1){
          -    colorstring = "5cb85c"
          - }
          - if(level==2){
          -    colorstring = "8eb458"
          - }
          - if(level==3){
          -    colorstring = "bfb053"
          - }
          - if(level==4){
          -    colorstring = "f0ad4e"
          - }
          - if(level==5){
          -    colorstring = "d9534f"
          - }
          - var colorstyle = "color: #"+colorstring+";";
          - console.log(colorstyle);
          //a(href='/application?app='+item["package_name"])
          p(style= colorstyle) RiskEva: &nbsp
            | strong #{result}
          p &nbsp&nbsp&nbsp&nbsp




