//
   Created by liangjingyue on 11/10/16.

extends new_index

block main_content
   h1.page-header
      | Page Heading
      small Secondary Text
   .container-fluid
      .row
         .col-lg-3
            img.img-responsive.img-rounded(src='https://lh3.googleusercontent.com/ZZPdzvlpK9r_Df9C3M7j1rNRi7hhHRvPhlklJ3lfi5jk86Jd1s0Y5wcQ1QgbVaAP5Q=w100', alt='Generic placeholder image', style='width: 140px; height: 140px;')
            h4 Facebook
            p
               | ...
            p
               a.btn.btn-default(href='/LibRadar', role='button') View details »
         // /.col-lg-3
         .col-lg-3
            img.img-responsive.img-rounded(src='https://lh6.ggpht.com/mp86vbELnqLi2FzvhiKdPX31_oiTRLNyeK8x4IIrbF5eD1D5RdnVwjQP0hwMNR_JdA=w100', style='width: 140px; height: 140px;')
            h4 WhatsApp
            p
               | ,,,
            p
               a.btn.btn-default(href='#', role='button') View details »
         // /.col-lg-3
         .col-lg-3
            img.img-responsive.img-rounded(src='http://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w100', alt='Generic placeholder image', style='width: 140px; height: 140px;')
            h4 Messenger
            p
               | ...
            p
               a.btn.btn-default(href='#', role='button') View details »
         // /.col-lg-3
         // /.col-lg-3
         .col-lg-3
            img.img-rounded(src='/images/radar.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
            h4 AppInfo
            p
               | ...
            p
               a.btn.btn-default(href='#', role='button') View details »
         // /.col-lg-3
      // /.row
      .row
         .col-lg-3
            img.img-rounded(src='/images/radar.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
            h2 LibRadar
            p
               | LibRadar是一个能够立即检测应用中所包含的第三方库信息的方法。它通过从超过100万个应用中提取静态特征，聚类得到第三方库信息的数据库，最终使用这些数据进行即时检测，具有准确、高效、全面的特点。
            p
               a.btn.btn-default(href='/LibRadar', role='button') View details »
         // /.col-lg-3
         .col-lg-3
            img.img-rounded(src='/images/radar.png', style='width: 140px; height: 140px;')
            h2 RiskEva
            p
               | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            p
               a.btn.btn-default(href='#', role='button') View details »
         // /.col-lg-3
         .col-lg-3
            img.img-rounded(src='/images/radar.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
            h2 AppInfo
            p
               | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            p
               a.btn.btn-default(href='#', role='button') View details »
         // /.col-lg-3
         // /.col-lg-3
         .col-lg-3
            img.img-rounded(src='/images/radar.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
            h2 AppInfo
            p
               | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            p
               a.btn.btn-default(href='#', role='button') View details »
         // /.col-lg-3
      // /.row
   // First Blog Post
   h2
      a(href='#') Blog Post Title
   p.lead
      | by
      a(href='index.php') Start Bootstrap
   p
      span.glyphicon.glyphicon-time
      |  Posted on August 28, 2013 at 10:00 PM
   hr
   img.img-responsive(src='http://placehold.it/900x300', alt='')
   hr
   p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
   a.btn.btn-primary(href='#')
      | Read More
      span.glyphicon.glyphicon-chevron-right
   hr


   // Pager
   ul.pager
      li.previous
         a(href='#') ← Older
      li.next
         a(href='#') Newer →
