//
  Created by liangjingyue on 11/10/16.

extends new_navbar

block page_content
  // Page Content
  .container
    .row
      // Blog Entries Column
      .col-md-9
        block main_content
      // Blog Sidebar Widgets Column
      .col-md-3
        // Blog Search Well
        .well
          h4 APP Search
          .input-group
            input#appname.form-control(type='text')
            span.input-group-btn
              button#searchapp.btn.btn-default(type='button',onclick="searchapk()", value='search')
                span.glyphicon.glyphicon-search
          script(type='text/javascript').
            function searchapk() {
              window.location.href="/search?appname=" + $('#appname').val();
            }
          // /.input-group
        // Blog Categories Well
        .well
          h4
            a(href='/list?category=&start=1&sort=0') All Categories
          .row
            .col-lg-8
              ul.list-unstyled
                li
                  a(href='/list?category=Books_and_Reference&sort=0&start=1') Books and Reference
                li
                  a(href='/list?category=Business&sort=0&start=1') Business
                li
                  a(href='/list?category=Comics&sort=0&start=1') Comics
                li
                  a(href='/list?category=Communication&sort=0&start=1') Communication
                li
                  a(href='/list?category=Education&sort=0&start=1') Education
                li
                  a(href='/list?category=Entertainment&sort=0&start=1') Entertainment
                li
                  a(href='/list?category=Finance&sort=0&start=1') Finance
            // /.col-lg-6
          // /.row
        // Side Widget Well
        .well
          h4 Side Widget Well
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
    // /.row
    hr
    // Footer
    footer
      .row
        .col-lg-12
          p Copyright © Your Website 2014
        // /.col-lg-12
      // /.row
  // /.container
