//
  Created by liangjingyue on 11/10/16.

extends new_navbar

block page_content
  // Page Content
  .container
    .row
      // Blog Entries Column
      .col-md-8
        block main_content
      // Blog Sidebar Widgets Column
      .col-md-3
        // Blog Search Well
        .well
          h4 APP Search
          .input-group
            input.form-control(type='text')
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-search
          // /.input-group
        // Blog Categories Well
        .well
          h4
            a(href='/list?category=&start=21&sort=0') All Categories
          .row
            .col-lg-8
              ul.list-unstyled
                li
                  a(href='/list') Books and Reference
                li
                  a(href='/list') Business
                li
                  a(href='/list') Comics
                li
                  a(href='/list') Communication
                li
                  a(href='/list') Education
                li
                  a(href='/list') Entertainment
                li
                  a(href='/list') Finance
            // /.col-lg-6
          // /.row
        // Side Widget Well
        .well
          h4 Side Widget Well
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
    // /.row
    hr
    // Footer
    footer
      .row
        .col-lg-12
          p Copyright © Your Website 2014
        // /.col-lg-12
      // /.row
  // /.container
